Repository Deepractice/SandboX: changes, and which lefthook commands are due for each by the changed paths.
All: format-fix, lint-fix

lefthook.yml:

# Lefthook configuration for SandboX
# https://lefthook.dev/configuration/

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-commit:
  commands:
    format-fix:
      glob: "*.{js,ts,json,md,yml,yaml}"
      run: bun prettier --write {staged_files} && git add {staged_files}

    lint-fix:
      glob: "*.{js,ts}"
      run: bun eslint --fix {staged_files} && git add {staged_files}

pre-push:
  parallel: false
  commands:
    format:
      run: bun format:check

    lint:
      run: bun lint

    install-check:
      run: bun install --frozen-lockfile
      fail_text: "Lockfile is outdated. Run 'bun install' to update it."

fix(cli): update to new Isolator API
  packages/cli/src/index.ts
Due: format-fix, lint-fix

ci: install ripgrep and bubblewrap for SRT tests
  .github/workflows/ci.yml
Due: format-fix

ci: skip SRT and Cloudflare tests in CI environment
  .github/workflows/ci.yml
Due: format-fix

fix: sync @sandboxxjs/state version and add to fixed group
  .changeset/config.json
  bdd/features/readme.feature
  bdd/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sandboxxjs/CHANGELOG.md
  packages/sandboxxjs/README.md
  packages/sandboxxjs/package.json
  packages/state/CHANGELOG.md
  packages/state/package.json
  services/cloudflare-isolator/CHANGELOG.md
  services/cloudflare-isolator/package.json
Due: format-fix

feat(isolator): add Forge microVM isolator
  packages/core/src/Sandbox.ts
  packages/core/src/index.ts
  packages/core/src/isolators/ForgeIsolator.ts
  packages/core/src/types.ts
Due: format-fix, lint-fix

test(isolator): add ForgeIsolator changeset and unit tests
  .changeset/forge-isolator.md
  packages/core/src/isolators/ForgeIsolator.test.ts
Due: format-fix, lint-fix

fix: update CI workflow for biome, update CLAUDE.md for new architecture
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  CLAUDE.md
Due: format-fix

fix: correct sandbox.ts filename case for case-sensitive filesystems
  packages/core/src/sandbox.ts
Due: format-fix, lint-fix

feat: add sandboxxjs/protocol subpath export
  .changeset/add-protocol-subpath.md
  packages/sandboxxjs/package.json
  packages/sandboxxjs/src/protocol.ts
Due: format-fix, lint-fix

feat: add SandboxBootstrap component — Provider handles environment init
  .changeset/add-bootstrap.md
  bun.lock
  packages/core/src/create-client.ts
  packages/core/src/index.ts
  packages/core/src/provider.ts
  packages/node-provider/src/node-provider.ts
  packages/web-provider/package.json
  packages/web-provider/src/index.ts
  packages/web-provider/src/types.ts
  packages/web-provider/src/web-container-bootstrap.ts
  packages/web-provider/src/web-container-executor.ts
  packages/web-provider/src/web-container-filesystem.ts
  packages/web-provider/src/web-container-process-manager.ts
  packages/web-provider/src/web-container-provider.ts
Due: format-fix, lint-fix

feat: add metadata field to SandboxContainer for platform extensions
  .changeset/add-metadata-field.md
  packages/core/src/allocator.ts
Due: format-fix, lint-fix

feat(web-provider): add bootstrap bundle for iframe-based WebContainer boot
  .changeset/add-bootstrap-bundle.md
  packages/web-provider/build-bootstrap.mjs
  packages/web-provider/package.json
  packages/web-provider/src/bootstrap.ts
  packages/web-provider/tsconfig.json
Due: format-fix, lint-fix

chore: update lockfile
  bun.lock
Due: none

fix(web-provider): read userId from URL in bootstrap for correct Bridge routing
  .changeset/fix-bootstrap-userid.md
  packages/web-provider/src/bootstrap.ts
Due: format-fix, lint-fix

fix(web-provider): bootstrap reads wsUrl from server instead of constructing it
  packages/web-provider/src/bootstrap.ts
Due: format-fix, lint-fix

feat: rewrite architecture with Client/Worker/Broker three-role model
  .changeset/config.json
  .changeset/v3-architecture-rewrite.md
  bun.lock
  package.json
  packages/core/src/allocator.ts
  packages/core/src/broker.ts
  packages/core/src/client.ts
  packages/core/src/create-client.ts
  packages/core/src/index.ts
  packages/core/src/platform.ts
  packages/core/src/protocol.ts
  packages/core/src/provider.ts
  packages/core/src/registry.ts
  packages/core/src/router.ts
  packages/core/src/sandbox.ts
  packages/core/src/worker.ts
  packages/node-platform/package.json
  packages/node-platform/src/broker.ts
  packages/node-platform/src/client.ts
  packages/node-platform/src/e2e.ts
  packages/node-platform/src/handler.ts
  packages/node-platform/src/index.ts
  packages/node-platform/src/local.ts
  packages/node-platform/src/rpc.ts
  packages/node-platform/src/worker.ts
  packages/node-platform/tsconfig.json
  packages/sandboxxjs/src/index.ts
  packages/sandboxxjs/src/protocol.ts
Due: format-fix, lint-fix

chore: version packages
  .changeset/v3-architecture-rewrite.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/node-platform/CHANGELOG.md
  packages/node-platform/package.json
  packages/node-provider/CHANGELOG.md
  packages/node-provider/package.json
  packages/sandboxxjs/CHANGELOG.md
  packages/sandboxxjs/package.json
  packages/web-provider/CHANGELOG.md
  packages/web-provider/package.json
Due: format-fix

chore: remove deprecated node-provider and web-provider packages
  bun.lock
  package.json
  packages/node-provider/CHANGELOG.md
  packages/node-provider/package.json
  packages/node-provider/src/index.ts
  packages/node-provider/src/node-executor.ts
  packages/node-provider/src/node-filesystem.ts
  packages/node-provider/src/node-process-manager.ts
  packages/node-provider/src/node-provider.ts
  packages/node-provider/tsconfig.json
  packages/web-provider/CHANGELOG.md
  packages/web-provider/build-bootstrap.mjs
  packages/web-provider/package.json
  packages/web-provider/src/bootstrap.ts
  packages/web-provider/src/index.ts
  packages/web-provider/src/web-container-bootstrap.ts
  packages/web-provider/src/web-container-executor.ts
  packages/web-provider/src/web-container-filesystem.ts
  packages/web-provider/src/web-container-process-manager.ts
  packages/web-provider/src/web-container-provider.ts
  packages/web-provider/tsconfig.json
Due: format-fix, lint-fix

feat(sandboxxjs): built-in Client with platform-optional createSandbox
  .changeset/builtin-client.md
  packages/sandboxxjs/src/client.ts
  packages/sandboxxjs/src/index.ts
Due: format-fix, lint-fix

chore: version packages
  .changeset/builtin-client.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/node-platform/CHANGELOG.md
  packages/node-platform/package.json
  packages/sandboxxjs/CHANGELOG.md
  packages/sandboxxjs/package.json
Due: format-fix

feat: adopt @deepracticex/rpc — replace switch dispatch with RpcHandlerRegistry
  packages/core/package.json
  packages/core/src/protocol.ts
  packages/node-platform/package.json
  packages/node-platform/src/handler.ts
  packages/sandboxxjs/src/protocol.ts
Due: format-fix, lint-fix

chore: add comment clarifying sandbox namespace
  packages/core/src/protocol.ts
Due: format-fix, lint-fix

chore: source-first — point main/exports to src, dist in publishConfig
  packages/core/package.json
  packages/node-platform/package.json
  packages/sandboxxjs/package.json
Due: format-fix

fix: remove .js extension from internal import for source-first compat
  packages/sandboxxjs/src/index.ts
Due: format-fix, lint-fix
